{% extends 'base.html.twig' %}

{% block title %}
Nosotros
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3">Bar de Paco
        <small>Equipo</small>
    </h1> 
    <img class="img-fluid rounded mb-4" src="{{ asset ('../public/assets/img/nosotros.png') }}" alt="..." />
    <h2>Nuestro Equipo</h2>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 w-75 text-center">
                <img src="{{ asset ('../public/assets/img/paco.png') }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Paco Gomez</h4>
                        <h6 class="card-subtitle mb-2 tetx-muted">Director</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore eos mollitia nisi ipsam fuga eum veniam debitis perferendis, magnam quos numquam voluptas saepe veritatis incidunt itaque soluta. Odio, esse.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary">name@example.com</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 w-75 text-center">
                <img src="{{ asset ('../public/assets/img/paco.png') }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Paco Gomez</h4>
                        <h6 class="card-subtitle mb-2 tetx-muted">Chef</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore eos mollitia nisi ipsam fuga eum veniam debitis perferendis, magnam quos numquam voluptas saepe veritatis incidunt itaque soluta. Odio, esse.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary"></a>name@example.co
                    </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 w-75 text-center">
                <img src="{{ asset ('../public/assets/img/paco.png') }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Paco Gomez</h4>
                        <h6 class="card-subtitle mb-2 tetx-muted">Director</h6>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores labore eos mollitia nisi ipsam fuga eum veniam debitis perferendis, magnam quos numquam voluptas saepe veritatis incidunt itaque soluta. Odio, esse.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary">name@example.co</a>
                    </div>
            </div>
        </div>


{% endblock %}